/* INITIALISATION */

* {
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    height: 100%;
}

hr {
    width: 99vw;
    background-color: #fff;
}



/* HEADER */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

h1 {
    text-align: center;
    color: #fff;
}

h1 span {
    margin-left: 10px;
}



/** SNAKE **/

.snakePart {
    position: absolute;
    background-color: #284;
}



/** APPLE **/

#apple {
    position: absolute;
    background-color: #f24;
}